My workflow 4.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "15becf3f-866f-4413-9b8e-5285a5696df6",
              "name": "",
              "value": "={{ $json.body }}",
              "type": "string"
            },
            {
              "id": "9efe8ade-5603-405a-9b8f-a4045aa06614",
              "name": "",
              "value": "={{ $json.body.destination }}",
              "type": "string"
            },
            {
              "id": "fd9f8bf4-e3d0-420d-afb0-22dec1300edf",
              "name": "",
              "value": "={{ $json.body.events }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        224
      ],
      "id": "68739727-dbc3-4d16-b991-1c42c23d7233",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3402f71e-c8d4-451a-9689-7fc28a53a826",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "81d9d78d-0561-4fe0-af62-c473753dde40",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "d19ede33-bc70-4b87-88e2-81726eb06c33",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        448
      ],
      "id": "7a6f319d-e645-46bc-96b0-b98f9d50f380",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me./v2/bot/chat/loading/start",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chatid",
              "value": "={{ $('Webhook').item.json.body }}"
            },
            {
              "name": "loadingseconds",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        464
      ],
      "id": "91a5bf9b-c91e-432a-9ef8-d109a200b5f3",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YcZIwabs9TL9VLuA",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        832,
        208
      ],
      "id": "fb92d003-3c9d-4dd9-817f-e35630e592cd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        832,
        400
      ],
      "id": "33b6b193-2508-4335-938f-19bf97e9fee3",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "9lqgVlxhIFATGiKo",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        928,
        512
      ],
      "id": "8d37d4b9-8a55-41ad-9cb8-0ca9e70b8525",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me./v2/bot/chat/loading/start",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        208
      ],
      "id": "39081dd4-8dde-47a6-a22e-c9928e166e63",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YcZIwabs9TL9VLuA",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b6b8ce9b-58c9-4384-afc0-e18dc579601f",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        224
      ],
      "id": "a7e8c74e-994a-4e2b-9bff-2b6550528fed",
      "name": "Webhook",
      "webhookId": "b6b8ce9b-58c9-4384-afc0-e18dc579601f"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1056,
        400
      ],
      "id": "62fdc56c-aa73-4fca-b69f-39e5990a45e1",
      "name": "Get row(s) in sheet in Google Sheets"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "94f646e2-f392-4dec-910c-5b2f10525eda",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cfce697a40f82a65e2315be0d0c18e451508e7e191b06a95787f1f6af2656605"
  },
  "id": "HUplOyQOZQ8IqtaY",
  "tags": []
}